<!DOCTYPE html>
<html>
<title>Alpha Blog About Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1>About Alpha Blog</h1>
</div>

<div class="w3-container w3-black">
  <br>
  <p>We blog and shit dude</p>
  <br>
</div>

<div class="w3-container"></div>
<%= image_tag 'alpha_logo1.jpg' %>
</div>

<div class="w3-container w3-black">
  <p>Click here to check out the <%= link_to 'Home', root_path %> page</p>
</div>

</body>
</html> 