<!DOCTYPE html>
<html>
<title>Alpha Blog Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1>Alpha Blog Home Page</h1></h1>
</div>

<!-- tried to do a thing and failed
<div class="w3-container w3-white">
  <p>CLICK <%= link_to 'HERE', articles_new_path %> TO ADD A NEW BLOG POST</p>
</div>
-->

<div class="w3-container w3-black">
  <p>Welcome to the Alpha Blog Home Page!</p>
</div>

<div class="w3-container"></div>
<%= image_tag 'alpha_logo1.jpg' %>
</div>

<div class="w3-container w3-black">
  <p>Click here to check out the <%= link_to 'About', welcome_alphablog_about_path %> page</p>
</div>

</body>
</html> 